deb http://deb.debian.org/debian {{ debian_codename }} main contrib non-free
# deb-src http://deb.debian.org/debian {{ debian_codename }} main contrib non-free

deb http://deb.debian.org/debian {{ debian_codename }}-updates main contrib non-free
# deb-src http://deb.debian.org/debian {{ debian_codename }}-updates main contrib non-free

deb http://deb.debian.org/debian {{ debian_codename }}-backports main contrib non-free
# deb-src http://deb.debian.org/debian {{ debian_codename }}-backports main contrib non-free

deb http://security.debian.org/ {{ debian_codename }}-security main contrib non-free
# deb-src http://security.debian.org/ {{ debian_codename }} main contrib non-free
