[Unit]
Description=filebin service

[Service]
Type=simple
ExecStart=/usr/local/bin/filebin
Environment=FILEBIN_BASE_URL={{ filebin_base_url }}
Environment=FILEBIN_STORAGE_DIR={{ filebin_storage_dir }}
Environment=FILEBIN_LISTEN_ADDR={{ filebin_listen_addr }}
{% if filebin_highlight_style is defined %}
Environment=FILEBIN_HIGHLIGHT_STYLE={{ filebin_highlight_style }}
{% endif %}
{% if filebin_id_length is defined %}
Environment=FILEBIN_ID_LENGTH={{ filebin_id_length }}
{% endif %}
{% if filebin_upload_max_size_mb is defined %}
Environment=FILEBIN_UPLOAD_MAX_SIZE_MB={{ filebin_upload_max_size_mb }}
{% endif %}
Environment=FILEBIN_AUTH_USERNAME={{ filebin_auth_username }}
Environment=FILEBIN_AUTH_PASSWORD={{ filebin_auth_password }}
User=nobody

[Install]
WantedBy=multi-user.target
